body{
    background-color: #212121;
}

.carousel {
    font-family: 'Open Sans', sans-serif;
    /* height: 98%; */
}

.my-img-hover:hover {
    opacity: 0.8 !important;
}

.my-caption{
    position: absolute;
    bottom: 25%;
    color: #fff;
    left: 35%;
    opacity: 0.8;
    text-decoration: underline;
}