{% extends 'common/base.html' %}
{% load static %}

{% block title %}
| {{ project.title }}
{% endblock %}

{% block page_only_style %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
<style>
    .test{
        margin: 0;
        position: absolute !important;
        top: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }
</style>
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ project.title }}
            <small>{{project.type}} Project</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home_link' %}">Home</a>
            </li>
            <li class="active">{{ project.title }}</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% block carousel_dots %}
                    {% for med in project.media %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class='{{ forloop.first|yesno:"active," }}'></li>
                    {% endfor %}
                {% endblock %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for img in project.media %}
                    {% if forloop.first %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
            
                    {% if img.isVideo %}        
                        <div align="center">
                            <iframe width="{{project.media_width}}" height="{{project.media_height}}" src="{{img.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>          
                    {% else %}
                            <img class="img-responsive" src="{% static img.url %}" alt="{{alt}}">
                    {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="fas fa-less-than test"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="fas fa-greater-than test"></i>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        {% block proj_description %}

        {% endblock %}
    </div>

</div>
<!-- /.row -->


{% endblock %}