{% extends 'common/project_base.html' %}
{% load static %}

{% block title %}
| {{ title }}
{% endblock %}

{% block page_only_style %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block proj_description %}

<h3>Description</h3>
<p>Small demo developed as three milestones coursework at <a href="http://www.city.ac.uk/">uni</a>. It's inspired by the
    DoctorHyde games but it has a slightly
    different way to succed the levels: gathering enough roses to give to the princess in order to ulock the next level.
    <br><br>
    The game provides a simple but efficient GUI that lets navigate between levels and replay them as well.<br>
    Elementary AI has been included in the game to raise a little bit the overall level of fun.
</p>
<h3>Details</h3>
<ul>
    <li>Java 8 OOP</li>
    <li><a href="http://www.jbox2d.org/">JBox2D Physics Engine</a></li>
    <li>UI</li>
    <li>HUD</li>
</ul>

{% endblock %}