{% extends 'common/base.html' %}
{% load static %}

{% block title %}
| {{ title }}
{% endblock %}

{% block carousel %}
<!-- Header Carousel -->
<header id="main-carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for proj in projects %}
            <li data-target="#main-carousel" data-slide-to="{{forloop.counter0}}" class='{{ forloop.first|yesno:"active," }}'></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        {% for proj in projects %}
            {% if forloop.first %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                <div class="fill" style='background-image: url("{% static proj.thumbnail %}");'> </div>
            </div>
            
            
            {% if forloop.first %}
                <span class="carousel-caption" id="title">
                    <h1>Pietro Lazzarotto</h1><br>
                    <p>game developper/ web developper</p>
                </span>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#main-carousel" data-slide="prev">
        <i class="fas fa-less-than test"></i>
    </a>
    <a class="right carousel-control" href="#main-carousel" data-slide="next">
        <i class="fas fa-greater-than test"></i>
    </a>

</header>
{% endblock %}

{% block content %}

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Hi there!
        </h1>
    </div>
    <div class="col-md-8">
        <p>
            I'm currently studing Computer Science with Game Technology at <a href="http://www.city.ac.uk/">City London
                University</a>.
            <br> Coming from an IT diploma obtained in Italy, I decided to build my future for a career in the
            videogames industry here in London.
            <br> Now I'm expanding my knowlegde as much as possible, while looking for a job as a programmer and
            developing personal projects.
        </p>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Projects -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">My projects</h2>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <a href="{% url 'supermario_link' %}">
            <img class="img-responsive img-hover customer-img" src="{% static  '/images/gamer-1280.jpg' %}"
                alt="">
            <div class="desc">
                <div class="desc-content">
                    <p >View details »</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <a href="{% url 'doctorhyde_link' %}">
            <img class="img-responsive img-hover customer-img" src="{% static  '/images/doctorhyde_title.png' %}" alt="">
            <div class="desc">
                <div class="desc-content">
                    <p >View details »</p>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- /.row -->

{% endblock %}