<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pietro Lazzarotto</title>

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">
    <style>
        #a{
            background-image: url("{% static '/images/hands-1280.jpg' %}");;
        }
        #b{
            background-image: url("{% static '/images/topfreegames-1280.jpg' %}");;
        }
        #c{
            background-image: url("{% static '/images/gamer-1280.jpg' %}");;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">PIETRO LAZZAROTTO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="portfolio-1-col.html" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="super-mario.html">Super Mario</a>
                            </li>
                            <li>
                                <a href="doctorhyde.html">DoctorHyde</a>
                            </li>
                            <li>
                                <a href="topfreegames.html">TopFreeGames</a>
                            </li>
                            <li>
                                <a href="comingsoon.html">Coming Soon!</a>
                            </li>                        
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="fill" id="a"></div>
            </div>
            <div class="item">
                <div class="fill" id="b"></div>
                <div class="carousel-caption">
                    <h2>Cooming Soon!</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" id="c"></div>
                <div class="carousel-caption">
                    <h2>Cooming Soon!</h2>
                </div>
            </div>
            <span class="carousel-caption" id="title">
                <h1>Pietro Lazzarotto</h1><br>
                <p>game developper/ web developper</p>
            </span>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Hi there!
                </h1>
            </div>
            <div class="col-md-8">
                <p>
                    I'm currently studing Computer Science with Game Technology at <a href="http://www.city.ac.uk/" >City London University</a>.
                    <br> Coming from an IT diploma obtained in Italy, I decided to build my future for a career in the videogames industry here in London.
                    <br> Now I'm expanding my knowlegde as much as possible, while looking for a job as a programmer and developing personal projects.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">My projects</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="super-mario.html">
                    <img class="img-responsive img-hover customer-img" src="{% static  '/images/topfreegames-1280.jpg' %}" alt="">
                    <div class="desc">
                        <div class="desc-content">
                            <u>Super Mario</u>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="comingsoon.html">
                    <img class="img-responsive img-hover customer-img" src="{% static  '/images/gamer-1280.jpg' %}" alt="">
                    <div class="desc">
                        <div class="desc-content">
                            <u>Coming Soon!
                        </div>
                    </div>  
                </a>
            </div>
        </div>
        <!-- /.row -->


        <!-- Coming soon -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Coming Soon!</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="topfreegames.html">
                    <img class="img-responsive img-hover customer-img" src="{% static  '/images/topfreegames-1280.jpg' %}" alt="">
                    <div class="desc">
                        <div class="desc-content">
                            <u>Coming Soon!
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="comingsoon.html">
                    <img class="img-responsive img-hover customer-img" src="{% static  '/images/gamer-1280.jpg' %}" alt="">
                    <div class="desc">
                        <div class="desc-content">
                            <u>Coming Soon!
                        </div>
                    </div>  
                </a>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; L4ZZA 2020</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="js/jquery.js"></script> -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


</body>

</html>